body,html{
    font-family:'Segoe UI';
    padding:0;
    margin:0;
    height:100%;
    background-image:url("./images/screenblur.jpg");
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;
}


.prelogin{
    background-image: url("./images/screensaver.jpg");
    height:100%;
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;
    /*ffor animations*/
    position: relative;
    bottom:0px;
}

.timearea{
    position:absolute;
    bottom:11%;
    left:3%;
    font-size:45px;
    font-weight: 400;
}

.loginpage{
    display:none;
    overflow:hidden;
    height:100%;
    text-align:center;
}

.login{
    width:fit-content;
    margin:18% auto;
}

.image-container{
    width:fit-content;
    margin:0 auto;
}

.user-image{
    width:10rem;
    height:10rem;
    border-radius:100%;
}

.user-title{
    font-weight:100;
    font-size:2.5rem;
    color:rgba(255, 255, 255, 0.712);;
    margin:0;
    text-align:center;
}

.txtbox{
    height:1.8rem;
    width:17rem;
    border-radius:1%;
    background-color:rgba(0,0,0,0.7);
    border:1px solid royalblue;
    outline: none;
    padding:2px 5px;
    color:rgb(189, 189, 189);
}

#username:focus,
#password:focus{
    background-color:white;
    color:black;
}

#username{
    display:block; 
    margin:10px auto;
}

.arrow{
    background-color:rgba(0,0,0,0);
    border:0px;
    height:29px;
    width:22px;
    filter:invert(100%);
    cursor: pointer;
}

.wrapper{
    display:inline-block;
    position:relative;
}

#password{
    display:block;
    margin:0 auto;
    position:relative;
}


#submit-btn{
    position:absolute;
    bottom:0rem;
    right:0rem;
    border:none;
    background-color:rgba(116, 113, 151, 0.589);
}

.options{
    text-align:center;
    margin-top:10px;
}

.option1{
    text-decoration: none;
    color:rgba(255, 255, 255, 0.712);
    font-size:14px;
}

/*geeric commands*/
.mp0{
    margin:0;
    padding:0;
}
.text-white{
    color:white;
}
.testing{background-color:red;}
.container-fluid{
    width:100%;
}
.container{
    width:75%;
    margin:0 auto;
}
/*media quires can be here*/
